backend/app/db/items_wakfu_complet_final_utf8.csv
.env
docker-compose.dev.yml
docker-compose.prod.yml
makefile
backend/Dockerfile.dev
backend/Dockerfile.prod
backend/app/routers/__pycache__/__init__.cpython-312.pyc
backend/app/routers/__pycache__/builds.cpython-312.pyc
backend/app/routers/__pycache__/items.cpython-312.pyc
frontend/Dockerfile.dev
frontend/Dockerfile.prod
frontend/postcss.config.js
frontend/package-lock.json
frontend/package.json
frontend/tailwind.config.js
frontend/tsconfig.node.json
frontend/vite.config.tf
frontend/node_modules/postcss.config.js
nginx/nginx.conf
backend/app/__pycache__/
frontend/node_modules/
